* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: "Poppins", san-serif;
  color: #ffc02e;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#2b2ee2), to(#1d1927));
  background-image: linear-gradient(to right top, #2b2ee2, #1d1927);
  line-height: 1.5;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #978ab5;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1080px;
  width: 80%;
  margin: 0 auto;
}

.flex_c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.75rem;
  border-radius: 5px;
}

.btn_primary {
  background-color: #ffc02e;
  margin-top: 15px;
}

.btn_secondary {
  background-color: #978ab5;
  margin-top: 15px;
}

header {
  background-color: #fbf8ff;
  position: fixed;
  width: 100%;
  z-index: 100;
}

nav .nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  padding: 0.94rem;
  text-transform: uppercase;
}

nav .nav__link li {
  color: #fbf8ff;
  margin-right: 1.875rem;
}

.main {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#2b2ee2), to(#1d1927));
  background-image: linear-gradient(to right top, #2b2ee2, #1d1927);
  height: 91.7vh;
  text-align: center;
  padding-top: 80px;
}

.main .intro {
  margin-top: 5.25rem;
  margin-bottom: 1.25rem;
  font-size: 0.85rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.main h1 {
  color: #fbf8ff;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1.1;
}

.main .lead {
  margin-top: 1.25rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 200;
  color: #fbf8ff;
}

.main .icon_set {
  color: #fbf8ff;
  width: 20px;
  height: 20px;
}

.about {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fbf8ff;
  text-align: center;
  color: #000;
}

.about .my_pic {
  width: 50%;
  border-radius: 50%;
}

.about .about__header {
  margin-bottom: 1.23rem;
}

.about .about__content h3 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.about .about__content p {
  width: 60%;
  margin: auto;
  text-align: left;
}

.about .skill_head {
  margin-top: 30px;
  margin-bottom: 30px;
}

.about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 0.75rem;
}

.about ul li {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: #978ab5;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px 25px;
}

.about ul li i {
  color: #fbf8ff;
}

.projects {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: coral;
  text-align: center;
}

.projects h2 {
  margin-bottom: 30px;
}

.projects .flex_s .project_item {
  background-color: #fbf8ff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 310px;
          flex: 0 1 310px;
  padding: 20px;
  margin-bottom: 15px;
}

footer {
  padding-top: 80px;
  padding-bottom: 40px;
  width: 50%;
  margin: auto;
  text-align: center;
}

footer .contact_info {
  list-style: none;
}

footer .contact_info li {
  margin-bottom: 10px;
}

footer .contact_info li img {
  width: 30px;
}

footer .social_links {
  color: #978ab5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

footer .social_links li {
  margin-right: 10px;
}

footer .social_links li i {
  color: #978ab5;
}

footer .small {
  font-size: 0.75rem;
}

@media (min-width: 800px) {
  .main h1 {
    font-size: 6rem;
  }
  .about {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .about .my_pic {
    width: 20%;
    border-radius: 50%;
  }
  .about ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .contact_info {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .contact_info li {
    margin-bottom: 10px;
  }
  footer .contact_info li img {
    width: 30px;
  }
  footer .social_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .social_links li {
    margin-right: none;
  }
  footer .social_links li i {
    color: #978ab5;
  }
}
/*# sourceMappingURL=main.css.map */