@import 'reset';
@import 'variables';

body {
    font: $font-stack;
    color: $accent-color;
    background-image: linear-gradient(to right top, #2b2ee2, #1d1927);
    line-height: 1.5;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0; 
    color: $secondary-color; 
}
a {
    text-decoration: none;
}
// section {
//     // padding: 3rem;
// }
.container {
    max-width: 1080px;
    width: 80%;
    margin: 0 auto;
}
.flex_c {
    justify-content: center;
    align-items: center;
}
.btn {
    display: inline-block;
    padding: 0.5rem 1.75rem;
    border-radius: 5px;
}
.btn_primary {
    background-color: $accent-color;
    margin-top: 15px;
}
.btn_secondary {
    background-color: $secondary-color;
    margin-top: 15px;
}
header {
    background-color: $white;
    position: fixed;
    width: 100%;
    z-index: 100;
}
nav {
    // background-color: #fff;
    .nav__link {
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding: 0.94rem;
        text-transform: uppercase;

        & li {
            color: $white;
            margin-right: 1.875rem;
        }
    }
}
.main {
    background-image: linear-gradient(to right top, #2b2ee2, #1d1927);
    height: 91.7vh;
    text-align: center;
    padding-top: 80px;

    .intro {
        margin-top: 5.25rem;
        margin-bottom: 1.25rem;
        font-size: 0.85rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
    }
    h1{
        color: $white;
        font-weight: 700;
        font-size: 3.5rem;
        line-height: 1.1;
    }
    .lead{
        margin-top: 1.25rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        font-weight: 200;
        color: $white;
    }
    .icon_set {
        color: $white;
        width: 20px;
        height: 20px;
    }
}

.about {
    @include paddingGap;
    background-color: $white;
    text-align: center;
    color: #000;

    .my_pic {
        width: 50%;
        border-radius: 50%;
    }
    
    .about__header {
        margin-bottom: 1.23rem;
    }

    .about__content {
       h3 {
            margin-top: 30px;
            margin-bottom: 15px;
       }

       p{
           width: 60%;
           margin: auto;
           text-align: left;
       }
    }
    
    .skill_head {
        margin-top: 30px;
        margin-bottom: 30px;
    }


    ul {
        display: flex;
        list-style-type: none;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 0.75rem;
        

        li {
           
            display: inline-block;
            width: 80px;
            height: 80px;
            background-color: $secondary-color;
            border-radius: 50%;
            margin-right: 10px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            text-align: center;
            // border-radius: 4px;
            padding: 10px 25px;

            i{
                color: $white;
            }
        }
    }
}

.projects {
    @include paddingGap;
    background-color: coral;
    text-align: center;

    h2 {
        margin-bottom: 30px;
    }

    .flex_s {


        .project_item {
            background-color: $white;
            flex: 0 1 310px;
            padding: 20px;
            margin-bottom: 15px;
        }
    }

}

footer {
    
    padding-top: 80px;
    padding-bottom: 40px;
    width: 50%;
    margin: auto;
    text-align: center;

    .contact_info {
        list-style: none;
        
        li {
            margin-bottom: 10px;
            
            img {
                width: 30px;
            }
        }

    }

    .social_links {
        color: $secondary-color;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding: 5px;
        margin-top: 30px;
        margin-bottom: 30px;
       
        li {
           margin-right: 10px;
           i {
            color: $secondary-color;
           }
        }
    }

    .small {
        font-size: 0.75rem;
    }
}

@media (min-width: 800px) {
    .main {
        h1{
            font-size: 6rem;
        }
    }

    .about {
        @include paddingGap;
           .my_pic {
            width: 20%;
            border-radius: 50%;
        }

        ul {
            
            justify-content: center;
        }
    }

    footer {
        .contact_info {
            list-style: none;
            display: flex;
            justify-content: space-between;
            
            li {
                margin-bottom: 10px;
                
                img {
                    width: 30px;
                }
            }
    
        }
    
        .social_links {
                 display: flex;
                 justify-content: center;      
            li {
               margin-right: none;

               i{
                color: $secondary-color;
                }
            }
        }
    }
}

